<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185638894182-t44h79pkcsilhink3tfsllk15qllg10p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185638894182-t44h79pkcsilhink3tfsllk15qllg10p</string>
	<key>API_KEY</key>
	<string>AIzaSyC9R3q7EL--V9ncfM-e-u7oephss8U-Ecg</string>
	<key>GCM_SENDER_ID</key>
	<string>185638894182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrykdybalski.primarySchool</string>
	<key>PROJECT_ID</key>
	<string>smart-assistant-2701</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-assistant-2701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185638894182:ios:f42b1e332205e15bc78ba7</string>
</dict>
</plist>